<%- include("partials/header", { title: "Login"}) %>

<div class="min-h-100 ">
    <form action="/login" method="POST" class="max-w-sm mx-auto bg-white shadow p-6 rounded">
        <h2 class="text-xl font-bold mb-4 text-center">Login</h2>

        <input type="text" name="username" placeholder="Username" class="w-full border mb-4 p-2 rounded" required>
        <input type="password" name="password" placeholder="********" class="w-full border mb-4 p-2 rounded" required>

        <button class="w-full bg-gray-800 text-white p-2 rounded">
            Register
        </button>

        <p class="mt-3 text-sm text-center">
            Don't have account?
            <a href="/login" class="hover:underline">Register</a>
        </p>
    </form>
</div>

<%- include("partials/footer") %>


